@import url("./settings/tokens.css");

@import url("./generic/reset.css");

@import url("./elements/base.css");
@import url("./elements/media.css");

@import url("./objects/layout.css");

@import url("./components/button.css");
@import url("./components/form.css");
@import url("./components/badge.css");
@import url("./components/rating.css");
@import url("./components/modal.css");
@import url("./components/accordion.css");
@import url("./components/card.css");
@import url("./components/header.css");
@import url("./components/section.css");
@import url("./components/hero.css");
@import url("./components/search.css");
@import url("./components/catalog.css");
@import url("./components/gallery.css");
@import url("./components/reviews.css");
@import url("./components/subscribe.css");
@import url("./components/footer.css");
@import url("./components/tour.css");
@import url("./components/reveal.css");
